<!--
  (Top) Launch file for running the mapping
  capability of cobot.
-->

<launch>
  <!--No need for rgb or registered depth(which is combining the rgb
  and depth camera with transforms to a single point instead of two
  camera's. 
  Also, no depth processing because the "fake laserscan" uses the raw
  data.
  -->
  <include file="$(find cobot_launch)/launch/3dsensor.launch">
    <arg name="rgb_processing"       value="false" />
    <arg name="depth_registration"   value="false" />
    <arg name="depth_processing"     value="false" />

    <!-- Bug in ros that $(arg camera) is prepended to topic somehow -->
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- gmapping -->
  <include file="$(find cobot_navigation)/launch/include/gmapping.launch.xml" />

</launch>
