<?xml version="1.0"?>
<robot name="cobot_mapping" xmlns:xacro="http://ros.org/wiki/xacro">

 <xacro:include filename="$(find cobot_description)/urdf/cobot_library.urdf.xacro" />
 <xacro:include filename="$(find cobot_description)/urdf/constants.urdf.xacro" />

 <cobot_base />
 <cobot_body parent_link="platform_link" platform_height="${platform_height}"/>
 <cobot_top parent_link="frame_right_top_link" height_offset="${frame_top_length}" />

 <kinect parent_link="base_link" parent_x="0 " parent_y="0.10" parent_z="0.35" parent_ox="0" parent_oy="${pi}" parent_oz="0" />


</robot>
