<launch>

 <!-- Turtlesim Node-->
 <!-- For Direction Testing -->
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

 
 <!-- Gamepad Joy Node -->
  <node respawn="true" pkg="joy" name="gamepad" type="joy_node">
   <rosparam file="$(find movement)/info/gamepad.yaml" command="load" />
  </node>


 <!-- Gamepad Node -->  
  <node pkg="movement" name="gamepad_controller" type="gamepad_controller" output="screen">
   <rosparam file="$(find movement)/info/teleop.yaml" command="load" />
   <!-- Publish on turtle cmd_vel -->
   <param name="pub_topic" value="turtle1/cmd_vel" type="str" />
  </node>
  
  <!-- MotorController Node -->
   <node pkg="movement" name="motor_controller" type="motor_controller" output="screen">
   <!--Subscribe to Turtle cmd_vel for Testing -->
   <param name="sub_topic" value="cmd_vel" type="str" />
   </node>

</launch>
