<launch>
 
 <arg name="enable_turtlesim"  default="true"/>

 <!-- Include Turtlesim if needed -->
 <include if="$(arg enable_turtlesim)" file="$(find cobot_teleop)/launch/include/turtlesim.launch.xml"/>

 <!-- Gamepad Joy Node -->
  <node respawn="true" pkg="joy" name="gamepad" type="joy_node">
   <rosparam file="$(find cobot_teleop)/info/gamepad.yaml" command="load" />
  </node>

 <!-- Gamepad Node -->  
  <node pkg="cobot_teleop" name="gamepad_controller" type="gamepad_controller" output="screen">
   <rosparam file="$(find cobot_teleop)/info/teleop.yaml" command="load" />
   <!-- Publish on turtle cmd_vel -->
   <remap from="/controller_vel" to="/turtle1/cmd_vel"/>
   <!-- <param name="pub_topic" value="turtle1/cmd_vel" type="str" /> -->

  </node>

</launch>
