<!-- Top launch file for running the (simulated) version
of cobot on the turtlesim environment
-->

<launch>
  <arg name="turtle_cmdTopic"     default="/turtle1/cmd_vel"/>


  <!-- Bringup the base controller -->
  <include file="$(find cobot_launch)/launch/include/base.launch.xml">
    <arg name="base"             value="turtle"/>  
    <arg name="serial_port"      value="dummy"/>  
    <arg name="sub_topic"        value="$(arg turtle_cmdTopic)"/> 
  </include>

  <!-- Bringup the test driver -->
<!--
  <include file= "$(find cobot_teleop)/launch/include/driver.launch.xml"> 
    <arg name="pub_topic"       value="$(arg turtle_cmdTopic)"/>
    <arg name="commands"        value="[LINE]"/>   
    <arg name="linearSpeed"     value="0.5"/>
    <arg name="angularSpeed"    value="0.3"/>
  </include>
-->

</launch>
